
.Main{
    margin-left:-420px;
    height:100vh;
    width:90vw;
    background-color:rgb(133, 179, 253);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.Nav{
    width:100vw;
    display:flex;
    justify-content:space-between;
    padding: 15px;
    align-items: center;
    color:white;
    background-color:rgb(9, 9, 97)
}
#logoutbtn{
    background:white;
    height: 30px;
    width:100px;
    border-radius:5px;
    text-decoration:none ;
    margin-right: 10px;
    margin-left: 10px;
    border:none;
}
.dash
{
    width:100vw;
    height:100vh;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.blocks{
    background-color:cornflowerblue;
    height: 180px;
    width: 300px;
    border-radius:5px;
    display:flex;
    margin: 15px;
    justify-content:center;
    align-items: center;
    cursor:pointer;
}
